* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body#root {
  height: 100%;
  width: 100%;
  background-color: rgb(46, 46, 46);
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
}

.nav {
  height: 100vh;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  position: relative;
  overflow: hidden;
}

.nav h1 {
 color: rgba(255, 255, 255, 0.352);
  white-space: nowrap;
  transform: rotate(90deg);
  font-size: 4rem;
  letter-spacing: 21px;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 0.8rem;
}

.nav button {
  position: absolute;
  z-index: 99;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  font-weight: 900;
  transition: all ease 0.5s;
}

.nav :active {
  scale: 0.8;

}

.notesection {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 2px 2px black;
  background-color: rgba(240, 248, 255, 0.353);
}

input {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;


}

form button {
  margin-top: 5px;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 2px black;
}

form :last-child {
  margin-left: 4rem;
}

.note {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


.notes {
  min-width: 15rem;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  background-color: rgb(188, 188, 188);
  box-shadow: 10px 10px 10px black;
}

.notes h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 400;
  text-transform: capitalize;
}

.notes p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.button button {
  cursor: pointer;
  transition: all ease 0.5s;
  background-color: transparent;
  border: none;
}

.button button span i {
  padding: 0.3rem;
  background-color: white;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.button :active {
  scale: 0.9;
}


/* .button :first-child {
  background-color: rgb(0, 163, 0);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black
}

.button :last-child {
  background-color: rgb(192, 0, 0);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black
} */


@media (max-width:400px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav button {
    position: absolute;
  }

  .notesection {
    overflow-y: auto;
  }

  .notes {
    height: 10rem;
    width: 100%;
  }

  .nav h1 {
    color: rgba(255, 255, 255, 0.352);
    white-space: nowrap;
    transform: rotate(360deg);
    /* font-size: 4rem; */
    letter-spacing: 6px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 0.8rem;

  }
}